<!doctype html>
<html>
	<head>
		<!-- Custom shared CSS -->
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/css/style.css">
		<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		-->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>The Pixel Guys - {{ page.title }}</title>
		{% include navigation.html %}
	</head>
	<body>
		{{ content }}
	</body>
	<footer id="footer" class="w3-bottom">
		<span><span class="copyleft"></span> The Pixel Guys</span>
	</footer>
</html>